<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Update Hotel</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-4">
<!--<div th:replace="fragments/navbar :: navbar"></div>-->
<h2>Update Hotel</h2>
<form th:action="@{/hotels/update/{id}(id=${hotel.id})}" th:object="${hotel}" method="post" class="needs-validation">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" th:field="*{name}" class="form-control"/>
    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
  </div>
  <div class="mb-3">
    <label class="form-label">Phone Number</label>
    <input type="text" th:field="*{phoneNumber}" class="form-control"/>
    <div class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
  </div>
  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="text" th:field="*{email}" class="form-control"/>
    <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  </div>
  <div class="mb-3">
    <label class="form-label">Description</label>
    <input type="text" th:field="*{description}" class="form-control"/>
    <div class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
  </div>
  <div class="mb-3">
    <label class="form-label">Rating</label>
    <input type="text" th:field="*{rating}" class="form-control"/>
    <div class="text-danger" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></div>
  </div>
  <div class="mb-3">
    <label class="form-label">Hotel Type</label>
    <select th:field="*{hotelType}" class="form-select">
      <option th:each="h : ${T(com.project.hotelManagementSystem.entity.constants.HotelType).values()}"
              th:value="${h}"
              th:text="${h.name()}">Hotel Type</option>
    </select>
    <div class="text-danger" th:if="${#fields.hasErrors('hotelType')}" th:errors="*{hotelType}"></div>
  </div>
  <div class="mb-3">
    <label class="form-label">Addresses</label>
    <select id="address-select" th:field="*{address.id}" class="form-select" required>
      <option value="" disabled selected>-- Select Address --</option>
      <option th:each="address : ${addresses}"
              th:value="${address.id}"
              th:text="${address}">
      </option>
    </select>
    <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
  </div>
  <div class="mb-3">
    <label class="form-label">Property Description</label>
    <select id="property-select" th:field="*{propertyDescription.id}" class="form-select" required>
      <option value="" disabled selected>-- Select Address --</option>
      <option th:each="propertyDescription : ${propertyDescriptions}"
              th:value="${propertyDescription.id}"
              th:text="${propertyDescription}">
      </option>
    </select>
    <div class="text-danger" th:if="${#fields.hasErrors('propertyDescription')}" th:errors="*{propertyDescription}"></div>
  </div>
  <button type="submit" class="btn btn-primary">Update Hotel</button>
  <a class="btn btn-secondary" th:href="@{/hotels}">Cancel</a>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
  $(document).ready(function() {
    $('#address-select').select2({
      placeholder: "Select or type a address",
      allowClear: true,
      width: '100%'
    });
  });
</script>
<script>
  $(document).ready(function() {
    $('#property-select').select2({
      placeholder: "Select or type a propertyDescription",
      allowClear: true,
      width: '100%'
    });
  });
</script>
</body>
</html>