<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cities List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-4">
<h2>Cities</h2>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Regions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="ct : ${cities}">
    <td th:text="${ct.id}"></td>
    <td th:text="${ct.name}"></td>
    <td th:text="${ct.region}"></td>
    <td>
      <a class="btn btn-sm btn-warning" th:href="@{'/cities/edit/' + ${ct.id}}">Edit</a>
      <a class="btn btn-sm btn-danger" th:href="@{'/cities/delete/' + ${ct.id}}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<div class="text-center my-3">
  <a class="btn btn-primary btn-sm" th:href="@{/cities/new}">Add City</a>
</div>
</body>
</html>